{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "plugins": ["react"],
  "globals": {
    "APP_CONFIG": false
  },
  "rules": {
    "no-console": ["off"],
    "no-constant-condition": ["off"],
    "no-extra-boolean-cast": ["off"],
    "no-irregular-whitespace": ["off"],
    "no-sparse-arrays": ["off"],
    "no-unexpected-multiline": ["off"],
    "no-delete-var": ["off"],
    "no-unused-vars": ["off"],


    "array-bracket-spacing": ["error"],
    "block-spacing": ["error"],
    "brace-style": ["error", "1tbs", {"allowSingleLine": true}],
    "comma-style": ["error"],
    "comma-spacing": ["error"],
    "jsx-quotes": ["error"],
    "keyword-spacing": ["error"],
    "key-spacing": ["error"],
    "new-parens": ["error"],
    "object-curly-spacing": ["error", "always"],
    "one-var": ["warn", "never"],
    "operator-linebreak": ["error", "before"],
    "space-before-blocks": ["error", "always"],
    "space-infix-ops": ["error"],
    "spaced-comment": ["warn"],
    "indent": ["error", 2],
    "quotes": ["error", "single"],
    "semi": ["error", "never"],
    "arrow-spacing": ["error"],
    "no-var": ["error"],
    "object-shorthand": ["error"],
    "prefer-const": ["error"],
    "prefer-template": ["error"]
  }
}